body {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 50px;
}

.welcome {
  margin-bottom: 40px;
  border: solid black 1px;
  width: 100%;
  padding: 10px;
  text-align: center;
  box-shadow: 1px 3px 3px 1px grey;
  /*margin-top: -100px;
  z-index: 1;*/
}

.welcome1 {
  /*text-shadow: 1px 1px black;*/
  font-size: 50px;
}

.welcome2 {
  font-style: italic;
  font-size: 25px;
  /*text-shadow: 1px 1px grey;*/
}

.update-button {
  /*float: right;*/
  /*margin-top: -400px;*/
}

.answers {
  margin-top: -30px;
}

.question-button {
  margin-left: 138px;
  margin-top: 20px;
}

.delete-question {
  /*float: right;*/
  /*margin-top: -90px;*/
}
.author {
  font-style: italic;
  font-size: 25px;
  margin-bottom: 20px;
}

.answer-title {
  font-weight: bold;
  color: #428bca;
}

.answer-author {
  font-style: italic;
  font-size: 20px;
  margin-bottom: 20px;
}

.each-question {
  background-color: lightgrey;
  padding: 20px;
  margin-bottom: 30px;
  width: 70%;
  margin-left: 15%;
  box-shadow: 1px 5px 5px 5px grey;
}

.question-detail {
  background-color: lightgrey;
  padding: 20px;
  box-shadow: 1px 5px 5px 5px grey;

}

.answer-form {
    border: 1px black solid;
    padding: 20px;
    margin-top: 40px;
    width: 70%;
    margin-left: 15%;
    box-shadow: 1px 5px 5px 5px grey;
    margin-bottom: 50px;
  }

  .new-answer {
    margin-top: 40px;
    margin-left: 20px;
  }

/*NavBar*/
.home {
  width: 40px;
  margin-top: 1px;
}

.about-nav {
  color: black;
}

.pull-left {
  margin-left: 20px;
  border-left: black 1px solid;
  padding: 0 0 0 20px;
}

.navbar {
  height: 80px;
  width: 100%;
}
