.welcome {
  margin-bottom: 40px;
  border: solid black 1px;
  padding: 10px;
  text-align: center;
}

.update-button {
  float: right;
  position: relative;
}

.answers {
  margin-top: -30px;
}

.delete-question {
  float: right;
}
.author {
  font-style: italic;
}

.each-question {
  background-color: lightgrey;
  padding: 20px;
  margin-bottom: 30px;
  width: 70%;
  margin-left: 15%;
  box-shadow: 5px 5px 5px 5px grey;
}

/*NavBar*/
.home {
  width: 40px;
  margin-top: 1px;
}

.about-nav {
  color: black;
}

.pull-left {
  margin-left: 20px;
  border-left: black 1px solid;
  padding: 0 0 0 20px;
}

.navbar {
  height: 80px;
  width: 100%;
}
