body {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 50px;
  background-image: url("/assets/images/linedpaper.jpg");
}

.welcome {
  margin-bottom: 40px;
  border: solid red 1px;
  width: 100%;
  padding: 10px;
  text-align: center;
  box-shadow: 1px 3px 3px 1px grey;
  background-color: white;
}

.about-page {
  margin-bottom: 40px;
  border: solid red 1px;
  width: 100%;
  padding: 40px;
  text-align: center;
  box-shadow: 1px 3px 3px 1px grey;
  background-color: white;
}

.welcome1 {
  font-size: 50px;
}

.welcome2 {
  font-style: italic;
  font-size: 25px;
}

.update-button {
  margin-top: 30px;
  margin-left: 20px;
}

.answers {
  margin-top: -30px;
}

.question-button {
  margin-left: 138px;
  margin-top: 20px;
}

.delete-question {
  float: right;
}

.author {
  font-style: italic;
  font-size: 25px;
  margin-bottom: 20px;
}

.answer-title {
  font-weight: bold;
  color: #428bca;
}

.answer-author {
  font-style: italic;
  font-size: 20px;
  margin-bottom: 20px;
}

.each-question {
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 30px;
  width: 70%;
  margin-left: 15%;
  box-shadow: 1px 5px 5px 5px grey;
}

.question-title {
  font-size: 40px;
}

.question-detail {
  background-color: white;
  padding: 20px 20px 50px 20px;
  box-shadow: 1px 5px 5px 5px grey;
  border: 1px black solid;
}

.answer-form {
  border: 1px red solid;
  padding: 20px;
  margin-top: 40px;
  width: 70%;
  margin-left: 15%;
  box-shadow: 1px 5px 5px 5px grey;
  margin-bottom: 50px;
  text-align: center;
  background-color: white;
}

label {
  font-size: 20px;
}

input{
  height: 40px;
  padding: 10px;
  margin: 5px;
  font-size: 20px;
}

.form-title {
  margin-bottom: 25px;
}

.question-form {
  border: 1px red solid;
  padding: 20px;
  margin-top: 40px;
  width: 70%;
  box-shadow: 1px 5px 5px 5px grey;
  margin-bottom: 50px;
  text-align: center;
  margin: 30px;
  background-color: white;
}

.update-button2 {
  margin-top: 20px;
}

.new-answer {
  margin-top: 40px;
  margin-left: 20px;
}

hr {
  color: black;
}

/*NavBar*/
.home {
  width: 40px;
  margin-top: 1px;
}

.about-nav {
  color: black;
}

.pull-left {
  margin-left: 20px;
  border-left: black 1px solid;
  padding: 0 0 0 20px;
}

.navbar {
  height: 80px;
  width: 100%;
}
