<div class="about-page">
  <h2>About The Message Board</h2>

  <h3>Feel free to ask any questions or answer other people's questions!</h3>

  <h3>Contact me for concerns, issues or ideas!</h3>
  <h3>admin@messageboard.com</h3>
</div>
