<nav class="navbar navbar-default">
  <div class="container container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        {{#link-to 'index'}}<img class="home" alt="Home" src="/assets/images/qanda.jpg">{{/link-to}}
      </a>
      {{#link-to 'about'}}<h2 class="pull-left about-nav">About</h2>{{/link-to}}
      <h2 class="pull-left contact-nav">Contact</h2>
    </div>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
