<h1>Welcome to Message Board</h1>

<h2>I hope you get all of your questions answered here!</h2>

<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>

{{new-question saveQuestion="saveQuestion"}}

{{#link-to 'about'}}About{{/link-to}}
