<div class="welcome">
  <h1>Welcome to Message Board</h1>
  <h2>I hope you get all of your questions answered here!</h2>
</div>

<div>
  {{#each model.questions as |question|}}
  {{question-tile question=question}}
  {{/each}}
</div>

{{new-question saveQuestion="saveQuestion"}}
