<h1>Welcome to Message Board</h1>

<h2>I hope you get all of your questions answered here!</h2>

<ul>
  {{#each model as |question|}}
  <h3>{{question.author}}</h3>
  <h3>{{question.content}}</h3>
  <h4>{{question.notes}}</h4>
  {{/each}}
</ul>

{{#link-to 'about'}}About{{/link-to}}
