<div class="welcome">
  <h1 class="welcome1">Welcome To Questions && Answers!</h1>
  <h3 class="welcome2">I hope you get all of your questions answered here!</h3>
</div>
<div>
  {{#each model.questions as |question|}}
  {{question-tile question=question}}
  {{/each}}
</div>

{{new-question saveQuestion="saveQuestion"}}
